@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: #333;
}

ul {
  padding: 0;
}

.container {
  max-width: 1150px;
}

/* Home */
.wp-header {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.logo {
  margin-top: 8px;
}

.logo img {
  width: 60%;
}

.form-search {
  height: 46px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.search {
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  line-height: 22px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  width: 292px;
  caret-color: rgba(254, 44, 85, 1.0);
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
  border: none !important;
  background: none !important;
}

input:not(:placeholder-shown)~.search-btn {
  color: rgba(22, 24, 35, 0.75);
}

.form-search .search-btn {
  border: none;
  height: 100%;
  width: 50px;
  color: rgba(22, 24, 35, 0.34);
  font-size: 1.4rem;
}

.form-search .search-btn:hover {
  background: rgba(22, 24, 35, 0.03);
}

.header-right {
  display: flex;
  padding-top: 10px;
  font-weight: 500;
  justify-content: end;
  align-items: center;
}

.header-right a {
  text-decoration: none;
  display: inline-block;
  color: #161823;
  margin-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.header-right a:hover {
  color: rgb(223, 150, 15);
}

.info-user {
  display: flex;
  font-size: 18px;
}

.info-user p {
  margin: 0 10px;
}

.info-user p:hover {
  color: rgb(223, 150, 15);
}

.info-user .logout {
  color: #333;
  cursor: pointer;
}

.info-user .logout:hover {
  color: rgb(223, 150, 15);
}

.wp-body {
  margin-top: 20px;
}

.tabs {
  margin: 20px 0;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-link button{
  border: none;
  background: transparent
}

/* Login */

.form_login {
  margin-top: 80px;
}

.form_login h1 {
  text-align: center;
  margin-bottom: 25px;
}

.btn_login {
  width: 100%;
  background-color: #813afe
}